<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryApp.emprestimo.home.title">Emprestimos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-emprestimo" [routerLink]="['/emprestimo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryApp.emprestimo.home.createLabel">
            Create a new Emprestimo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="emprestimos?.length === 0">
        <span jhiTranslate="libraryApp.emprestimo.home.notFound">No emprestimos found</span>
    </div>
    <div class="table-responsive" *ngIf="emprestimos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataEmprestimo"><span jhiTranslate="libraryApp.emprestimo.dataEmprestimo">Data Emprestimo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="livro.tombo"><span jhiTranslate="libraryApp.emprestimo.livro">Livro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="aluno.matricula"><span jhiTranslate="libraryApp.emprestimo.aluno">Aluno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emprestimo of emprestimos ;trackBy: trackId">
                <td><a [routerLink]="['/emprestimo', emprestimo.id, 'view' ]">{{emprestimo.id}}</a></td>
                <td>{{emprestimo.dataEmprestimo | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="emprestimo.livro">
                        <a [routerLink]="['/livro', emprestimo.livro?.id, 'view' ]" >{{emprestimo.livro?.tombo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emprestimo.aluno">
                        <a [routerLink]="['/aluno', emprestimo.aluno?.id, 'view' ]" >{{emprestimo.aluno?.matricula}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/emprestimo', emprestimo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/emprestimo', emprestimo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(emprestimo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="emprestimos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
